
h1 {
  padding: 30px 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

p {
  line-height: 22.7px;
}
main {
  min-width: 320px;
  max-width: 1100px;
  padding: 50px;
  margin: 0 auto;
}

header {
  background-color: #1da1f2;
}

section {
  background-color: #fff;
}

.card {
  width: 40%;
  padding: 30px 40px;
}

.card p {
  margin: 20px 0;
}

.content {
  width: 58%;
}

.card, .content {
  display: inline-block;
  vertical-align: top;
}

.text-color {
  color: #0084B4;
}

form {
  background-color: #fff;
}

textarea {
  resize: none;
  width: 100%;
  padding: 15px 0;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0px;
}


.content-textarea {
  border-bottom: 1px solid #eee;
  margin: 0 15px;
}

.button {
  border: 2px solid white;
  background-color: #3cf;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: 700;
  outline: 0;
  display: inline-block;
}

.content-buttton {
  padding: 12px;
}

.content-buttton p {
  float: right;
  transform: translateY(50%);
}

.content-twitter {
  padding: 15px;
  margin-top: 15px;
  background-color: #fff;
}

section.content-tweets {
  background-color: initial;
}

section.content-tweets div:first-child {
  margin-top: 45px;
}

.red {
  color: red;
}

.twitterBlue {
  color: #1da1f2;
}

.background-red {
  background-color: #ffb8c2;
}

.buttonDisabled {
  background-color: rgb(214, 214, 214);
  color: rgb(182, 182, 182);
}

.blue {
  color: rgb(5, 86, 116);
}
